# SECRETS
db_password: "{{ lookup('password', '/dev/null length=20 chars=ascii_letters+digits') }}"
api_key: "{{ lookup('password', '/dev/null length=20 chars=ascii_letters+digits') }}"
api_key3: "{{ lookup('password', '/dev/null length=50 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+-.*') }}"
api_key4: "{{ lookup('password', '/dev/null length=50 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+-.*') }}"
api_key5: "{{ lookup('password', '/dev/null length=50 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+-.*') }}"
api_key6: "{{ lookup('password', '/dev/null length=50 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+-.*') }}"
user_name: "{{ lookup('password', '/dev/null length=5 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz') }}"
server_name: "{{ inventory_hostname }}"
server_ip: "{{ ansible_default_ipv4.address }}"
server_email: "{{ vault_mail }}{{ ansible_default_ipv4.address }}"
opt_data_dir: "{{ opt_data_dir }}"
system_name: "{{ system_name }}"
username: "{{ username }}"
log_level: "{{ log_level }}"
log_file: "{{ log_file }}"






# Beispielkonfiguration
# Datenbankkonfiguration
#db_host: "localhost"
#db_port: 3306
#db_name: "example_db"
#db_user: "admin"
#db_password: "securepassword123"

# API-Schlüssel
#api_key: "123456789abcdef"

# Benutzerkonfiguration
#users:
#  - name: "john_doe"
#    password: "password123"
#    roles:
#      - "admin"
#      - "developer"
#  - name: "jane_doe"
#    password: "password456"
#    roles:
#      - "user"

# Weitere Konfigurationen
#site_name: "Example Site"
#admin_email: "admin@example.com"
#enable_feature_x: true
#max_connections: 100